<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <form class="list_form" action="/" method="post">
        <div class="input_todo">
          <input type="text" name="todo" placeholder="add todo...">
          <input type="submit" name="submit" value="submit">
        </div>
        </form
        <h1>Todo List</h1>
        {{#list}}
        {{^complete}}
        <form class="" action="/{{id}}/complete" method="post">
          <div class="todo">
          <li>{{todos}}</li>
        </div>
        <button type="submit" >mark as complete</button>
      </form>
      {{/complete}}
        {{/list}}
        <h1>completed</h1>
        {{#list}}
        {{#complete}}
        <li>{{todos}}</li>
        <form class="" action="/{{id}}/delete" method="post">
          <button type="submit" >Delete</button>
        </form>
        {{/complete}}
        {{/list}}
